{% extends "website/base.html" %}
{% load staticfiles %}
{% load humanize %}
  {%block content %}
  <section class="section">
  </section>
  <section class="section section-lg bg-white-100"
  style="margin-top:50px">
  
        <div class="header">
            <div class="container">
                <h2 class="insta-black">How It  <span class="insta-red">Works</span></h2>
            </div>
        </div>
        <div class="container content">
            <ul class="faqs">
                <li>
                    <!--<h3> HOW INSTABIDS WORK?</h3>-->
                    <div>
                        Instabids is the new way of getting hold of great new products from as low as Sh. 1
                        All you need to do for you to get any item is to make the Lowest Unique Bid for the offer. Bid as many times as you can and if your bid is the lowest and unique (meaning no one else has a similar bid amount), you get to walk away with the product.
                        Bidding is easy and can be done in one of the following ways:
                    </div>
                </li>
                <li>
                    <h4><br>1. MPESA</h4>
                    <div>
                        <br>Go to Mpesa menu, Lipa Na Mpesa</br>
                        <br>Enter Paybill as 5265353</br>
                        <br>Enter Account Number as (Product Code + Unique Bid Amount) e.g. TCLTV 231</br>
                        <br>Enter amount as Sh. 20 only</br> 
                    </div>
                </li>
                <li>
                    <h4><br>2. VIA WEBSITE</h4>
                    <div><br>Bidders can also bid via our website at www.instabids.co.ke</div>
                </li>
                <li>
                    <h4><br>3. USSD</h4>
                    <div><br>Bidders can also place their bids via USSD by dialing *421*4#</br>
                        <br>Dial *421*4#</br>
                        <br>Choose a Product</br>
                        <br>Enter your bid amount of choice</br>
                        <br>Enter Mpesa pin on the provided prompt.</br>
                    </div>
                </li>
                
                <div>
                    <p> Once you place your bid, you will receive a confirmation message from Instabids.
                        If your bid is Low and Unique, you will receive a call from Instabids notifying you that you are our lucky bidder.</p>
                    
                    <p>Instabids offers free shipping on all products nationwide. A tracking number and shipping details will be provided once shipping is done. Winning bidders receive their items within 5-7 working days depending on the location of the bidder.</p>

                    </div>
                </li>
            </ul>
        </div>
        <div class="footer_lb">
            <div class="container">
                <div class="row">
                    <!-- <h3>You can be a winner too.<span>Win Big!</span></h3><a class="primary_btn" href="/">Start Bidding</a></div> -->
            </div>
        </div>
    </section>

    {% endblock %}
